:root {
    --white: #fff;
    --gray-100: #f1f5f9;
    --gray-900: #111827;
    --gray-950: #030712;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--gray-950);  
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}